#particles-js {

     border: 2px solid white;
     background: url("https://images.unsplash.com/photo-1464983953574-0892a716854b?ixlib=rb-0.3.5&s=e6075ab276e38b517ed3e3f28801ff2a&auto=format&fit=crop&w=1950&q=80");
     background-size: cover;
     background-attachment: fixed;
     min-height: 700px;
     /* filter: blur(1px); */
}

.title {

    border: 1px solid white;
    font-family: 'Libre Barcode 39 Text',cursive;
    font-size: 60px;
    color: white;
}

h3 {
    font-family: 'Pacifico', cursive;
}
